<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>A simple, clean, and responsive HTML invoice template</title>
   <link rel="stylesheet" href="style.css">
</head>

<body>
  <div class="invoice-box">
    <table cellpadding="0" cellspacing="0">
      <tr class="top">
        <td colspan="2">
          <table>
            <tr>
              <td class="title">
                <img src="https://example.com/logo.png" style="height: 100px;">
              </td>
              <td>
                Invoice #: {{invoice_number}}<br>
                Created: {{date}}<br>
                Due: {{duedate}}
              </td>
            </tr>
          </table>
        </td>
      </tr>
      
      <tr class="information">
        <td colspan="2">
          <table>
            <tr>
              <td>
                {{from_addr['company_name']}}<br>
                {{from_addr['addr1']}}<br>
                {{from_addr['addr2']}}
              </td>
              <td>
                {{to_addr['company_name']}}<br>
                {{to_addr['person_name']}}<br>
                {{to_addr['person_email']}}
              </td>
            </tr>
          </table>
        </td>
      </tr>
      
      <tr class="heading">
        <td>
          Item
        </td>
        <td>
          Price
        </td>
      </tr>
      
      {% for item in items %}
      <tr class="item">
        <td>
          {{item['title']}}
        </td>
        <td>
          ${{item['charge']}}
      </tr>
      {% endfor %}
      
      <tr class="total">
        <td></td>
        <td>
           Total: ${{total}}
        </td>
      </tr>
    </table>
  </div>
  <div class="divFooter"></div>
</body>
</html>

